<h1 class="page-header jumbotron"><%= identifier %> Site Data</h1>

<div class="row">

  <div class="col-md-3" id="urls">
    <%=partial(:"partials/addresses", :locals => locals)%>
  </div>

  <div class="col-md-3" id="browsers">
    <%=partial(:"partials/browsers", :locals => locals)%>
  </div>

  <div class="col-md-3" id="os">
    <%=partial(:"partials/os_breakdown", :locals => locals)%>
  </div>

  <div class="col-md-3" id="screen_resolutions">
    <%=partial(:"partials/screen_resolutions", :locals => locals)%>
  </div>

</div>

<div class="col-md-4" id="response_times">
  <%=partial(:"partials/response_times", :locals => locals)%>
</div>

<div class="col-md-8" id="events_link">
  <h3><a href="/sources/<%="#{identifier.downcase}"%>/events">Events</a></h3>
</div>
