<div class="page-header">
  <h1><%= url.first.address %> Site Data</h1>
</div>

<div class="row">
  <div class="col-md-3" id="response_times">
    <h3>URL Response Times</h3>
    <ul>
      <li>Maximum Response Time: <%= url_visits.maximum("responded_in").to_i %>ms</li>
      <li>Minimum Response Time: <%= url_visits.minimum("responded_in").to_i %>ms</li>
      <li>Average Response Time: <%= url_visits.average("responded_in").to_i %>ms</li>
    </ul>
  </div>

  <div class="col-md-3" id="request_types">
    <h3>HTTP Verbs Used</h3>
    <ul>
      <li>HTTP GET: <%= url_visits.where(request_type: "GET").count %></li>
      <li>HTTP PUT: <%= url_visits.where(request_type: "PUT").count %></li>
      <li>HTTP POST: <%= url_visits.where(request_type: "POST").count %></li>
      <li>HTTP DELETE: <%= url_visits.where(request_type: "DELETE").count %></li>
    </ul>
  </div>

  <div class="col-md-3" id="referrers">
    <h3>Most Popular Referrers</h3>
    <ol>
      <% refs.each do |ref,count| %>
      <li><%= "#{ref}: #{count}" %></li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-3" id="user_agents">
    <div>
      <h3>Most Popular Browsers</h3>
      <ol>
        <% browsers.each do |browser,count| %>
        <li><%= "#{browser}: #{count}" %></li>
        <% end %>
      </ol>
    </div>

    <div>
      <h3>Most Popular Operating Systems</h3>
      <ol>
        <% os_platforms.each do |os_platform,count| %>
        <li><%= "#{os_platform}: #{count}" %></li>
        <% end %>
      </ol>
    </div>
  </div>

</div>
